.CartButton {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: rgb(172, 24, 24);
    color: white;
    padding: 12px 48px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;

    span.cart_icon img {
        height: 20px;
    }

    span.cart_txt {
        margin-left: 5px;
        font-size: larger;
    }

    span.cart_count {
        font-size: small;
    }
}

.CartButton:hover,
.CartButton:active {
    background-color: brown;
}

.CartButton.bump {
    animation: bump 300ms ease-out;
}

@keyframes bump {
    0% {
        transform: scale(1);
    }

    10% {
        transform: scale(0.9);
    }

    30% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}