.Header {
    .header {
        text-align: center;
        margin: 30px auto;
    }

    .header img {
        width: 200px;
        height: 200px;
        object-fit: contain;
        background-color: transparent;
    }

    .header h1 {
        font-size: 24px;
    }
}