.Cart {
    .items {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .total {
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-weight: bold;
        font-size: 24px;

        margin: 16px 0;
    }

    .actions {
        text-align: right;

        button {
            color: white;
            background-color: orangered;

            border: 1px solid orangered;
            border-radius: 20px;

            padding: 4px 32px;

            font-weight: bold;

            cursor: pointer;
        }

        .btn_inverse {
            color: orangered;
            background-color: white;

            margin-right: 5px;
        }
    }
}