.ExpenseCreate {
  background-color: lightblue;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.ExpenseCreate button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid blue;
  background-color: blue;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
  margin-top: 2rem;
}

.ExpenseCreate button:hover,
.ExpenseCreate button:active {
  background-color: darkblue;
  border-color: darkblue;
}

.ExpenseCreate button.alternative {
  color: darkblue;
  border-color: transparent;
  background-color: transparent;
}

.ExpenseCreate button.alternative:hover,
.ExpenseCreate button.alternative:active {
  background-color: lightblue;
}